    ul
        {
            /*take away bullets*/
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

    li
    {
        /*float these block bois next to each other*/
        float: left;
    }

    a
    {
        display: block;
        padding: 8px;
        background-color: #dddddd;
    }