    ul
        {
            /*take away bullets*/
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #dddddd;
            /*keep it @ top*/
            position: fixed;
            top: 0;
            width: 100%;
        }

    li
    {
        /*float these block bois next to each other*/
        float: left;
    }

    li a
    {
        display: block;
        text-align: center;
        padding: 8px;
    }

    li a:hover
    {
        background-color:#111;
    }