    ul
        {
            /*take away bullets*/
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #dddddd;
            /*stick navbar to top*/
            position: sticky;
            top: 0;
        }

    li
    {
        /*float these block bois next to each other*/
        float: left;
    }

    li a
    {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
    }

    li a:hover
    {
        background-color:#111;
    }