/*everythang
*
{
    box-sizing: border-box;
}
*/
@font-face
{
    font-family: Highway Gothic;
    src: url(fonts/HWYGOTH.TTF);
}

/*header goes here*/
.header
{
    background-image: url("images/prof.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    max-width: 100%;
    height: 200px;
    padding: 20px;
    margin: 0px;
}

/*nav goes here*/
.nav
{
    overflow: hidden;
    background-color: #3E4F5B;
    font-family: Highway Gothic;
}
/*nav links*/
.nav a
{
    float: left;
    display: block;
    color: #93BCD9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*change active link color */
.nav a.active
{
    background-color: #193142;
    color: #93BCD9;
}
/*change link color when hover*/
.nav a:hover:not(.active)
{
    background-color: #53A3DB;
    color: #193142;
}

/*image display*/
img
{
    max-width: 100%;
    height: auto;
}

.grayscale
{
    -webkit-filter: grayscale(100%);/*safari is rough*/
    filter: grayscale(100%);
}
/*where the main body lie*/
body
{
    margin: 0;
}
/*
.column
{
    float: left;
    padding: 10px;
}

.column.main
{
    width: 75%;
}

.column.add
{
    width: 25%;
}
clear float so everything doesn't die
.row:after
{
    content: "";
    display: table;
    clear: both;
}
*/

/*create the flexed box*/
.row
{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #93BCD9;
}
/*make the small bois*/
.columnMain
{
    flex: 75%;
    padding: 20px;
}

.columnMain > div
{
    background-color: #193142;
    padding: 10px;
}

.columnAdd
{
    flex: 25%;
    padding: 10px;
    align-self: flex-start;
}

.columnAdd > p
{
    padding: 10px;
    background-color: #193142;
    font-family: Highway Gothic;
    color: #93BCD9;
}
/*respond to window sizing*/
@media screen and (max-width: 600px)
{
    .row
    {
        flex-direction: column;
    }
}
